body {
    background-color: darksalmon;
    margin: 0;
}

body .title {
    text-align: center;
    font-size: 3.5em;
    font-family: PoiretOne-Regular;
    text-shadow: 3px 2px 3px teal;
    color: whitesmoke;
    margin: 0%;
}
#buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2em;
    border: 1px grey;
    width: fit-content;
}